<!-- content -->
<section id="content" class="wrapper alt style2">
	{% assign sorted_pages = site.pages | sort: 'page_order' %}
	{% for page in sorted_pages %}

	{% if page.layout == 'default' %}{% continue %}{% endif %}
	{% if page.title %}

	<section class="spotlight">
		<div class="image">{% if page.image_thumbail %}<img src="/assets/images/{{ page.image_thumbail }}" alt="" />{% endif %}</div>
		<div class="content">
			<h2><a href="{{ page.url | relative_url }}" class="link">{{ page.title }}</a></h2>
			<p>{{ page.description }}</p>
		</div>
	</section>

	{% endif %}
	{% endfor %}
</section>
