	<!-- Footer -->
	{% if site.enabled %}
	<footer id="footer">
		<ul class="copyright">
			<li>&copy; Stephanie Li & Matthew Pomaroff 2022</li>
		</ul>
	</footer>
	{% endif %}

</div> <!-- Page Wrapper -->

<!-- Scripts -->
<script src="{{ "/assets/js/jquery.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/skel.min.js" | absolute_url }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url }}"></script>
<!--[if lte IE 8]><script src="{{ "/assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
<script src="{{ "/assets/js/main.js" | absolute_url }}"></script>
