<script src="https://www.google.com/recaptcha/api.js"></script>

<script>
	function onSubmit(token) {
		document.getElementById("rsvp-form").submit();
	}
</script>

<section id="rsvp" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>RSVP</h2>
			<p>Please let us know if you can make it by <b>31.03.2022</b>.</p>
		</header>

		<form id="rsvp-form" method="post" action="https://smartforms.dev/submit/618f94887a195017922da888">
			<div class="row uniform">
				<div class="4u 12u(medium)">
					<input type="text" name="name" id="name" value="" placeholder="Full Name" />
				</div>
				<div class="4u 12u(medium)">
					<input type="text" name="partner-name" id="partner-name" value="" placeholder="Partner's Full Name" />
				</div>
				<div class="4u 12u(medium)">
					<input type="email" name="email" id="email" value="" placeholder="Email" />
				</div>
				<div class="6u 12u(small)">
					<input type="radio" id="attending" name="attending" required>
					<label for="attending">We are attending</label>
				</div>
				<div class="6u 12u(small)">
					<input type="radio" id="not-attending" name="attending">
					<label for="not-attending">We send our apologies</label>
				</div>
				<div class="12u">
					<textarea name="dietary-requirements" id="dietary-requirements" placeholder="Dietary requirements" rows="3"></textarea>
				</div>
				<div class="12u">
					<textarea name="message" id="message" placeholder="Anything else we should know?" rows="6"></textarea>
				</div>
				<div class="12u">
					<input type="checkbox" id="human" name="human">
					<label for="human">I'm not a robot</label>
				</div>
				<div class="12u">
					<ul class="actions">
						<li><button class="g-recaptcha button special" data-sitekey="6Lcc2C8dAAAAAGPt2EHyeRo5AvfLD5lOK4uP5sWX" data-callback='onSubmit' data-action='submit'>Send RSVP</button></li>
						<li><input type="reset" value="Reset" /></li>
					</ul>
				</div>
			</div>
		</form>
	</div>
</section>
