---
layout: html_minifier
---

<!DOCTYPE HTML>
<html>
    
{% include head.html %}

<body>

    {% include header.html %}

    {% if site.enabled %}

    <!-- Main -->
    <article id="main">
        <header {% if page.header_class %} class="{{ page.header_class }}"{% endif %}>
            <h2>{{ page.title }}</h2>
            <!--<p>{{ page.description }}</p>-->
        </header>

        <section class="wrapper style2">
            <div class="inner">

                {{ content }}

            </div>
        </section>
    </article>

    {% else %}

    <script>
        window.location = "{{ "" | absolute_url }}";
    </script>

    {% endif %}

    {% include footer.html %}

</body>

</html>
